<!DOCTYPE html>
<html lang="en">

<%- include('layouts/Head.ejs', {title: 'Shopbebin' }) %>

<body>
  <%- include('layouts/Header.ejs', {loginHref: '/login' }) %>
  <div class="container">
    <%- include('./components/UtilsBar/index.ejs') %>
    <div>
      <%- include ('./components/FilterArea/index.ejs',
                {categories})%> <%- include
                ('./components/ProductDisplay/index.ejs', {products,
                pageNumber}) %>
    </div>
  </div>
</body>

</html>